.top-left{
    border:2px solid #eaeaea;
    margin-top: 50px;
    margin-left: 100px;
    width: 700px;
}
table{
    width: 100%;
}
tr{
    text-align: center;
}
.topLeftHeading h4{
    display: inline;
}